#root {
  max-width: 60%;
  margin: 0 auto;
  padding: 2rem;
  background-color: #F6F5F4;
  /* text-align: center; */
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.two-cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.survey-instructions{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
  gap: 10px;
}

